.body-new-pro{
    cursor: pointer;
}

.product-body-live{
    cursor: pointer;
}

.product-information {
    border: 2px solid #070707;
    overflow: hidden;
    padding: 30px;
    position: relative;
    width: 100%;
}

.frames {
    width: 100%;
    height: 100%;
    border: 2px dashed #0a0a0a;
    border-radius: 5px;
    padding: 10px 5px 5px 15px;
}

.product-detail-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

#product-detail-image-main{
    width: 100%;
}

.img-detail{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 10px;
    grid-column-gap: 24px;
}

.quantity {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}
.product-information p {
    color: #696763;
    font-family: "Roboto", sans-serif;
    margin-bottom: 5px;
}
.text-quantity{
    margin-top: 10px;
}
.input-group1 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 80px 1fr;
    margin-top: 10px;
    margin-left: 10px;
}
.breadcrumb{
    background: none;
    margin-top: 5px;
    font-size: 16px;
    font-weight: normal;
}
s
.nav-tabs{
    margin-top: 20px;
    border-bottom: none ;
}
.frames-text{
    padding-left: 10px;
}

.button-pro-detai{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15px;
}

.nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #0f64fe;
    border: 0px;
    color: #ffffff;
    cursor: default;
    margin-right: 0;
    margin-left: 0;
    padding: 5px 80px;
    text-decoration: none;
    font-size: 18px;
    border-top-right-radius:5px ;
    border-top-left-radius:5px ;
}
.descriptio{
    border: 2px solid ;
    margin-top: 3px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
}
.descriptio p{
    padding-left: 10px;
}
.descriptio p  span{
    padding-left: 10px;
}
.brand {
    width: auto;
    height: auto;
    background: black;
    color: white !important;
    text-align: center;
    padding: 8px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}
.pro-body h2{
    font-size: 18px;
}
.product-body-favorite{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.screenn-load{
    z-index: 999;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body-second-pro{
    margin-top: 15px;
}

.button-pro-detai .btn-de{
    font-size: 18px; 
    width: 200px;
    font-weight: 500;
    padding: 10px 0; 
}

#product-detail-image-main-b{
    width: 100%;
    height: 120px;
}

.product-detail-image{
    width: 100%;
    height: 120px;
}

.pr-he{
    margin-left: 30px;
}

@media (max-width: 991px) {
    .product-detail-body{
        grid-template-columns: 1fr;
    }

    .product-information{
        padding: 5px;
    }  

}

@media (max-width: 575px){
    .button-pro-detai .btn-de{
        padding: 5px 10px;
        font-size: 15px;
        width: 90%;
    }
}