.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border: none !important;
    border-bottom: 1px solid black !important;
    border-radius: unset !important;
}

.css-1y8ugea{
    margin-top: 30px !important;
}

.css-1jrn2fe-MuiGrid-root {
    height: unset !important;
}