.header_top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    height: 40px;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.header_top h6{
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding-left: 30px;
    margin: 0;
}

.header_top span{
    justify-self: end;
    padding-right: 30px;
}

.header_top span b{
    color: white;
    margin: 0 5px ;
}
.header_top span a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.header-mid{
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    height: 80px;
    background-color: black;
    align-items: center;
}

.header-mid-search{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 30px;
}

.header-mid-search input{
    width: 100%;
    justify-self: center;
}

.header-mid-search button{
    border: none;
    background-color: #ffba00;
    width: 31px;
    height: 30px;

}


.head-cart_template{margin-left: 50px;}

.head-cart_template .icon-tow{
    color: white;
    border: 1.5px solid white;
    border-radius: 50%;
    padding: 7px;
}

.head-midd-linkto-cart {
    margin-left: 10px;
    text-decoration: none;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.header-bottom{
    border-top: 1px solid lightgray;
    height: 60px;
    background-color: black;
    position: relative;
}

.header-bottom .header-menu-ul-main{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 60px;
}

.header-bottom .header-menu-ul-main li{
    justify-self: center;
    cursor: pointer;
}

.header-bottom .header-menu-ul-main li:hover .head-menu-bottom{
    color: #ffba00;
}

.header-bottom .header-menu-ul-main li .head-menu-bottom{
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.drop-menu-hidden-vi{
    position: absolute;
    overflow: hidden;
    height: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
    transition: height 0.25s;
    width: 150px;
}

.drop-menu-hidden-vi li{
    padding: 5px 10px;
}

.head-dropdown{
    justify-self: end !important;
    background-color: #ffba00;
    height: 60px;
    padding-top: 18px;
    text-align: center;
    position: relative;
}

.head-dropdown a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    width: 100%;
    font-size: 17px;
    padding: 0 18px;
}

.head-dropdown a:hover{
    color: white;
}

.drop-menu-hidden-vi li:hover{
    background-color: lightgray;
}

.head-menu-huong-dan:hover .drop-menu-hidden-vi{
    height: 100px;
    border: 1px solid lightgray;
}   

.head-cong{
    display: none;
    position: absolute;
    top: 28%;
    color: white;
    left: 95%;
    transform: translateX(-95%);
}

.head-menu-hidden-bottom{
    position: absolute;
    height: 0;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: height 0.5s;
}

.drop-menu-hidden-vi li a{
    text-decoration: none;
    color: black;
}

.header-category-show{
    width: 100%;
    height: 0;
    overflow: hidden;
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
    background-color: white;
    transition: height 0.5s;
}

.header-category-show li{
    text-align: start;
    padding: 8px 10px;
    width: 100%;
    align-items: center;
}

.header-category-show li:hover{
    background-color: black;
}

.header-category-show  li:hover a{
    font-size: 15px;
    color: white;
}

.viet-li-arrow-cate{
    float: right;
    padding-top: 5px;
}

.header-category-show  li:hover .viet-li-arrow-cate{
    color: white;
}

.header-category-show li .head-cate-parent{
    color: black;
}


.head-dropdown:hover .header-category-show{
    border: 1px solid lightgray;
    height: 100px;
}


.head-menu-cate-all-child{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    list-style: none;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: white;
    margin: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
    z-index: 999;
    left: 100%; 
    top: 99%;
}

.head-menu-cate-all-child.active{
    height:300px;
    width: 800px;
    border: 1px solid lightgray;
}

.head-menu-cate-all-child li .head-cate-name{
    color: black;
    padding: 0 5px;
}

.head-menu-hidden-bottom.acitve{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    overflow: hidden;
    height: 40px;
    background-color: black;
    color: white;
    align-items: center;
    width: 100%;
}

.head-menu-hidden-bottom li{
    justify-self: center;
}

.head-menu-hidden-bottom li a{
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 1110px) {
    .head-dropdown a span{
        display: none;
    }
}

@media only screen and (max-width: 1000px) {

}

 @media only screen and (max-width: 767px) {

    .header-bottom .header-menu-ul-main li{
        justify-self: start;
    }

    .header-bottom .header-menu-ul-main li:not(:first-child){
        display: none;
    }

    .header_top h6{
font-size: 13px;
        padding-left: 10px;
    }  

    .header_top span a{
        font-size: 13px;
    }

    .header-mid{
        grid-template-columns: 1fr;
        padding: 0 30px 0 30px;
    }

    .head-cart_template{margin-left: 10px;}

    .head-midd-linkto-cart {
        font-size: 14px;
    }

    .head-cong{
        display: grid;    
    }
} 