.giam-gia-discount{
    display: grid;
    grid-row-gap: 30px;
}

.giam-gia-discount label{
    width: 230px;
}

.giam-gia-discount span{
    font-size: 17px;
    color: black;
}

.giam-gia-discount select{
    text-align: center;
    padding: 5px 10px;
}

.giam-gia-discount select option{
    padding: 5px 0;
}

.giam-gia-discount .gg-btn{
    border: none;
    background-color: lightskyblue;
    padding: 5px 10px;
    border-radius: 5px;
}

.giam-gia-discount .gg-btn:hover{
    background-color: #5488c7;
}

.gg-btn-kp{
    border: none;
    padding: 5px 10px;
}