.thong-ke{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    margin-top: 40px;
}
.don-hang-thong-ke{
    position: relative;
}
.don-hang-span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
}
